# Inport

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from geopandas import *
from plotnine import *

#para ajustar las fechas
import datetime

#para calcular el skew de un array() o list()
from scipy.stats import skew

## Foodservices

In [26]:
name_fill='FoodServices_0ANALYSIS_PATTERN (2).csv'
Direct_fill='C:/Users/rolft/Documents/Tesis/Codigo/Comportamiento-Demanda/Data/'

col_names=pd.read_csv(Direct_fill+name_fill,
                      encoding="utf-8",sep=";",nrows=0).columns
types_dict = {col: str for col in list(col_names)}

Data = pd.read_csv(Direct_fill+name_fill,
                   encoding="utf-8",sep=";",dtype=types_dict)
print(Data.shape)
Data.dtypes

(9628, 11)

Zona de ventas         object
Zona de ventas.1       object
Oficina de ventas      object
Oficina de ventas.1    object
Dest. Mercancía        object
Unnamed: 5             object
Cantidad Unidades      object
Peso neto              object
Valor Neto             object
Precio neto            object
Precio Unitario        object
dtype: object

In [27]:
Data.head()

,Zona de ventas,Zona de ventas.1,Oficina de ventas,Oficina de ventas.1,Dest. Mercancía,Unnamed: 5,Cantidad Unidades,Peso neto,Valor Neto,Precio neto,Precio Unitario
0,Z001,Santiago,T001,Huechuraba,318,Araneda Saavedra Carmen Sabina,20 CJ,"440,0 KG",646.043 CLP,27.844 CLP,1.468 CLP / KG
1,Z001,Santiago,T001,Huechuraba,574,Lizana Galvez Lorena del Carmen,3 CJ,"66,0 KG",99.792 CLP,2.916 CLP,1.512 CLP / KG
2,Z001,Santiago,T001,Huechuraba,2019,Saffis Lama Myriam Elena,2 CJ,"44,0 KG",56.980 CLP,2.590 CLP,1.295 CLP / KG
3,Z001,Santiago,T001,Huechuraba,2383,Faus Rojas Isabel del Carmen,1 CJ,"22,0 KG",35.640 CLP,1.620 CLP,1.620 CLP / KG
4,Z001,Santiago,T001,Huechuraba,3102,Cados Gastronomia Limitada,50 CJ,"1.100,0 KG",1.540.000 CLP,30.800 CLP,1.400 CLP / KG

In [16]:
Data.groupby('Zona de ventas.1').count()

,Zona de ventas,Oficina de ventas,Oficina de ventas.1,Dest. Mercancía,Unnamed: 5,Cantidad Unidades,Peso neto,Valor Neto,Precio neto,Precio Unitario
Zona de ventas.1,,,,,,,,,,
Centro Norte,1760,1760,1760,1760,1760,1758,1760,1760,1760,1760
Centro Sur,2461,2461,2461,2461,2461,2459,2461,2461,2461,2461
Norte,1286,1286,1286,1286,1286,1285,1286,1286,1286,1286
Resultado total,1,1,1,1,1,1,1,1,1,1
Santiago,2523,2523,2523,2523,2523,2517,2523,2523,2523,2523
Sur,1597,1597,1597,1597,1597,1594,1597,1597,1597,1597

In [17]:
Data.groupby(['Zona de ventas.1','Oficina de ventas']).count()

                                    Zona de ventas  Oficina de ventas.1  \
Zona de ventas.1 Oficina de ventas
Centro Norte     Resultado                       1                    1
                 T002                          439                  439
                 T009                          248                  248
                 T014                          419                  419
                 T021                          106                  106
                 T066                          408                  408
                 T069                          139                  139
Centro Sur       Resultado                       1                    1
                 T003                          504                  504
                 T004                          751                  751
                 T007                          344                  344
                 T012                          338                  338
                 T052                          270                  270
                 T053                          253                  253
Norte            Resultado                       1                    1
                 T061                          154                  154
                 T062                          289                  289
                 T063                          227                  227
                 T064                          205                  205
                 T065                          332                  332
                 T068                           78                   78
Resultado total  Resultado total                 1                    1
Santiago         Resultado                       1                    1
                 T001                          283                  283
                 T015                           55                   55
                 T017                           52                   52
                 T022                         2132                 2132
Sur              Resultado                       1                    1
                 T005                          622                  622
                 T006                          432                  432
                 T010                          235                  235
                 T011                          191                  191
                 T019                          115                  115
                 T054                            1                    1

                                    Dest. Mercancía  Unnamed: 5  \
Zona de ventas.1 Oficina de ventas
Centro Norte     Resultado                        1           1
                 T002                           439         439
                 T009                           248         248
                 T014                           419         419
                 T021                           106         106
                 T066                           408         408
                 T069                           139         139
Centro Sur       Resultado                        1           1
                 T003                           504         504
                 T004                           751         751
                 T007                           344         344
                 T012                           338         338
                 T052                           270         270
                 T053                           253         253
Norte            Resultado                        1           1
                 T061                           154         154
                 T062                           289         289
                 T063                           227         227
                 T064                           205         205
                 T065                           332         332
                 T068                            78          78
Resultado total  Resultado total                  1           1
Santiago         Resultado                        1           1
                 T001                           283         283
                 T015                            55          55
                 T017                            52          52
                 T022                          2132        2132
Sur              Resultado                        1           1
                 T005                           622         622
                 T006                           432         432
                 T010                           235         235
                 T011                           191         191
                 T019                           115         115
                 T054                             1           1

                                    Cantidad Unidades  Peso neto  Valor Neto  \
Zona de ventas.1 Oficina de ventas
Centro Norte     Resultado                          1          1           1
                 T002                             439        439         439
                 T009                             247        248         248
                 T014                             418        419         419
                 T021                             106        106         106
                 T066                             408        408         408
                 T069                             139        139         139
Centro Sur       Resultado                          1          1           1
                 T003                             503        504         504
                 T004                             750        751         751
                 T007                             344        344         344
                 T012                             338        338         338
                 T052                             270        270         270
                 T053                             253        253         253
Norte            Resultado                          1          1           1
                 T061                             153        154         154
                 T062                             289        289         289
                 T063                             227        227         227
                 T064                             205        205         205
                 T065                             332        332         332
                 T068                              78         78          78
Resultado total  Resultado total                    1          1           1
Santiago         Resultado                          1          1           1
                 T001                             282        283         283
                 T015                              55         55          55
                 T017                              52         52          52
                 T022                            2127       2132        2132
Sur              Resultado                          1          1           1
                 T005                             622        622         622
                 T006                             431        432         432
                 T010                             235        235         235
                 T011                             190        191         191
                 T019                             114        115         115
                 T054                               1          1           1

                                    Precio neto  Precio Unitario
Zona de ventas.1 Oficina de ventas
Centro Norte     Resultado                    1                1
                 T002                       439              439
                 T009                       248              248
                 T014                       419              419
                 T021                       106              106
                 T066                       408              408
                 T069                       139              139
Centro Sur       Resultado                    1                1
                 T003                       504              504
                 T004                       751              751
                 T007                       344              344
                 T012                       338              338
                 T052                       270              270
                 T053                       253              253
Norte            Resultado                    1                1
                 T061                       154              154
                 T062                       289              289
                 T063                       227              227
                 T064                       205              205
                 T065                       332              332
                 T068                        78               78
Resultado total  Resultado total              1                1
Santiago         Resultado                    1                1
                 T001                       283              283
                 T015                        55               55
                 T017                        52               52
                 T022                      2132             2132
Sur              Resultado                    1                1
                 T005                       622              622
                 T006                       432              432
                 T010                       235              235
                 T011                       191              191
                 T019                       115              115
                 T054                         1                1

## Tradicional

In [42]:
name_fill='Tradicional_0ANALYSIS_PATTERN (1).csv'
Direct_fill='C:/Users/rolft/Documents/Tesis/Codigo/Comportamiento-Demanda/Data/'

col_names=pd.read_csv(Direct_fill+name_fill,
                      encoding="utf-8",sep=";",nrows=0).columns
types_dict = {col: str for col in list(col_names)}

Data = pd.read_csv(Direct_fill+name_fill,
                   encoding="utf-8",sep=";",dtype=types_dict)

print(Data.shape)
Data.dtypes

(28314, 11)

Zona de ventas         object
Zona de ventas.1       object
Oficina de ventas      object
Oficina de ventas.1    object
Dest. Mercancía        object
Unnamed: 5             object
Cantidad Unidades      object
Peso neto              object
Valor Neto             object
Precio neto            object
Precio Unitario        object
dtype: object

In [43]:
Data.head(4)

,Zona de ventas,Zona de ventas.1,Oficina de ventas,Oficina de ventas.1,Dest. Mercancía,Unnamed: 5,Cantidad Unidades,Peso neto,Valor Neto,Precio neto,Precio Unitario
0,Z001,Santiago,T001,Huechuraba,71,Urzua Ruiz Hermogenes Antonio,671 CJ,"14.762,0 KG",16.964.975 CLP,201.921 CLP,1.149 CLP / KG
1,Z001,Santiago,T001,Huechuraba,148,Zuñiga Pradenas Marta Monica,7 CJ,"154,0 KG",211.199 CLP,6.860 CLP,1.371 CLP / KG
2,Z001,Santiago,T001,Huechuraba,197,Contreras Cepeda Ernesto de Jesus,2.125 CJ,"46.750,0 KG",57.083.692 CLP,595.415 CLP,1.221 CLP / KG
3,Z001,Santiago,T001,Huechuraba,202,Pallare Leiva Lucia Magdalena,6 CJ,"132,0 KG",176.484 CLP,1.337 CLP,1.337 CLP / KG

In [44]:
countdf=Data.groupby('Zona de ventas.1').count().reset_index()
countdf

,Zona de ventas.1,Zona de ventas,Oficina de ventas,Oficina de ventas.1,Dest. Mercancía,Unnamed: 5,Cantidad Unidades,Peso neto,Valor Neto,Precio neto,Precio Unitario
0,Centro Norte,5683,5683,5683,5683,5683,5678,5683,5683,5683,5683
1,Centro Sur,7084,7084,7084,7084,7084,7079,7084,7084,7084,7084
2,Norte,2634,2634,2634,2634,2634,2633,2634,2634,2634,2634
3,Resultado total,1,1,1,1,1,1,1,1,1,1
4,Santiago,8160,8160,8160,8160,8160,8155,8160,8160,8160,8160
5,Sur,4752,4752,4752,4752,4752,4748,4752,4752,4752,4752

In [45]:
countdf=countdf[countdf['Zona de ventas.1']!='Resultado total']
countdf

,Zona de ventas.1,Zona de ventas,Oficina de ventas,Oficina de ventas.1,Dest. Mercancía,Unnamed: 5,Cantidad Unidades,Peso neto,Valor Neto,Precio neto,Precio Unitario
0,Centro Norte,5683,5683,5683,5683,5683,5678,5683,5683,5683,5683
1,Centro Sur,7084,7084,7084,7084,7084,7079,7084,7084,7084,7084
2,Norte,2634,2634,2634,2634,2634,2633,2634,2634,2634,2634
4,Santiago,8160,8160,8160,8160,8160,8155,8160,8160,8160,8160
5,Sur,4752,4752,4752,4752,4752,4748,4752,4752,4752,4752

In [46]:
countdf['Oficina de ventas'].sum()

28313

In [51]:
50973992/98775847*100

51.60572503114046

In [22]:
Data.groupby(['Zona de ventas.1','Oficina de ventas']).count()

                                    Zona de ventas  Oficina de ventas.1  \
Zona de ventas.1 Oficina de ventas
Centro Norte     Resultado                       1                    1
                 T002                         1538                 1538
                 T009                          714                  714
                 T014                         1370                 1370
                 T021                          427                  427
                 T066                         1192                 1192
                 T069                          441                  441
Centro Sur       Resultado                       1                    1
                 T003                         1614                 1614
                 T004                         2155                 2155
                 T007                         1580                 1580
                 T012                         1141                 1141
                 T052                          587                  587
                 T053                            6                    6
Norte            Resultado                       1                    1
                 T061                          307                  307
                 T062                          491                  491
                 T063                          664                  664
                 T064                          383                  383
                 T065                          629                  629
                 T068                          159                  159
Resultado total  Resultado total                 1                    1
Santiago         Resultado                       1                    1
                 T001                         2094                 2094
                 T015                         1621                 1621
                 T017                         2858                 2858
                 T022                         1586                 1586
Sur              Resultado                       1                    1
                 T005                         1722                 1722
                 T006                         1398                 1398
                 T010                          799                  799
                 T011                          454                  454
                 T019                          378                  378

                                    Dest. Mercancía  Unnamed: 5  \
Zona de ventas.1 Oficina de ventas
Centro Norte     Resultado                        1           1
                 T002                          1538        1538
                 T009                           714         714
                 T014                          1370        1370
                 T021                           427         427
                 T066                          1192        1192
                 T069                           441         441
Centro Sur       Resultado                        1           1
                 T003                          1614        1614
                 T004                          2155        2155
                 T007                          1580        1580
                 T012                          1141        1141
                 T052                           587         587
                 T053                             6           6
Norte            Resultado                        1           1
                 T061                           307         307
                 T062                           491         491
                 T063                           664         664
                 T064                           383         383
                 T065                           629         629
                 T068                           159         159
Resultado total  Resultado total                  1           1
Santiago         Resultado                        1           1
                 T001                          2094        2094
                 T015                          1621        1621
                 T017                          2858        2858
                 T022                          1586        1586
Sur              Resultado                        1           1
                 T005                          1722        1722
                 T006                          1398        1398
                 T010                           799         799
                 T011                           454         454
                 T019                           378         378

                                    Cantidad Unidades  Peso neto  Valor Neto  \
Zona de ventas.1 Oficina de ventas
Centro Norte     Resultado                          1          1           1
                 T002                            1538       1538        1538
                 T009                             714        714         714
                 T014                            1369       1370        1370
                 T021                             424        427         427
                 T066                            1191       1192        1192
                 T069                             441        441         441
Centro Sur       Resultado                          1          1           1
                 T003                            1613       1614        1614
                 T004                            2151       2155        2155
                 T007                            1580       1580        1580
                 T012                            1141       1141        1141
                 T052                             587        587         587
                 T053                               6          6           6
Norte            Resultado                          1          1           1
                 T061                             307        307         307
                 T062                             491        491         491
                 T063                             664        664         664
                 T064                             383        383         383
                 T065                             628        629         629
                 T068                             159        159         159
Resultado total  Resultado total                    1          1           1
Santiago         Resultado                          1          1           1
                 T001                            2091       2094        2094
                 T015                            1621       1621        1621
                 T017                            2857       2858        2858
                 T022                            1585       1586        1586
Sur              Resultado                          1          1           1
                 T005                            1721       1722        1722
                 T006                            1397       1398        1398
                 T010                             799        799         799
                 T011                             452        454         454
                 T019                             378        378         378

                                    Precio neto  Precio Unitario
Zona de ventas.1 Oficina de ventas
Centro Norte     Resultado                    1                1
                 T002                      1538             1538
                 T009                       714              714
                 T014                      1370             1370
                 T021                       427              427
                 T066                      1192             1192
                 T069                       441              441
Centro Sur       Resultado                    1                1
                 T003                      1614             1614
                 T004                      2155             2155
                 T007                      1580             1580
                 T012                      1141             1141
                 T052                       587              587
                 T053                         6                6
Norte            Resultado                    1                1
                 T061                       307              307
                 T062                       491              491
                 T063                       664              664
                 T064                       383              383
                 T065                       629              629
                 T068                       159              159
Resultado total  Resultado total              1                1
Santiago         Resultado                    1                1
                 T001                      2094             2094
                 T015                      1621             1621
                 T017                      2858             2858
                 T022                      1586             1586
Sur              Resultado                    1                1
                 T005                      1722             1722
                 T006                      1398             1398
                 T010                       799              799
                 T011                       454              454
                 T019                       378              378

In [14]:
x=20
if( (x!=0 and x!=1 and x!=2 and x!=3 and x!=4 and x!=5
   and x!=6 and x!=7 and x>=0  and 9>=x   and x<10)  | x!=9):
    print(x)

20